{% extends 'base.html.twig' %}




{% block body1 %}
    <a class="btn btn-outline-primary" href="{{ path('app_login') }}" role="button">Se Connecter</a>
    <a class="btn btn-outline-primary" href="#" role="button">S'inscrire</a>     
{% endblock %}